flows.json
[{"id":"fdd0353.1c127c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"eb900532.066f88","type":"ibmiot in","z":"fdd0353.1c127c8","authentication":"apiKey","apiKey":"4d7720b1.5d4af","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"789456123","applicationId":"","deviceType":"mydevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":280,"wires":[["1204666e.d3ca3a","e65f7c25.6959e","5073e1c9.fca35","8bf1fb12.84bd78","f5641a5d.d776a8"]]},{"id":"fc91ddd9.921ac","type":"ui_gauge","z":"fdd0353.1c127c8","name":"","group":"5da88cbd.d715f4","order":22,"width":6,"height":5,"gtype":"gage","title":"Smoke","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":160,"wires":[]},{"id":"e7280be9.bc5a08","type":"ui_gauge","z":"fdd0353.1c127c8","name":"","group":"5da88cbd.d715f4","order":2,"width":13,"height":6,"gtype":"gage","title":"Air_Quality","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":220,"wires":[]},{"id":"4055f8b8.97f0c8","type":"ui_gauge","z":"fdd0353.1c127c8","name":"","group":"5da88cbd.d715f4","order":24,"width":6,"height":5,"gtype":"gage","title":"Harmful_Gases","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":280,"wires":[]},{"id":"1204666e.d3ca3a","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = msg.payload.smoke\nglobal.set(\"s\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["fc91ddd9.921ac"]]},{"id":"e65f7c25.6959e","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = msg.payload.air_quality\nglobal.set(\"a\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["e7280be9.bc5a08"]]},{"id":"5073e1c9.fca35","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = msg.payload.harmful_gases\nglobal.set(\"h\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["4055f8b8.97f0c8"]]},{"id":"8bf1fb12.84bd78","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = msg.payload.latitude\nglobal.set(\"la\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["49a77ec0.6655"]]},{"id":"f5641a5d.d776a8","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = msg.payload.longitude\nglobal.set(\"lo\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["248201a8.4d97ce"]]},{"id":"49a77ec0.6655","type":"ui_text","z":"fdd0353.1c127c8","group":"5da88cbd.d715f4","order":11,"width":6,"height":1,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":340,"wires":[]},{"id":"248201a8.4d97ce","type":"ui_text","z":"fdd0353.1c127c8","group":"5da88cbd.d715f4","order":17,"width":6,"height":1,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":400,"wires":[]},{"id":"2728dd99.ce6a82","type":"ui_text","z":"fdd0353.1c127c8","group":"5da88cbd.d715f4","order":5,"width":6,"height":1,"name":"","label":"Location","format":"","layout":"row-left","x":340,"y":100,"wires":[]},{"id":"5e1ca95.01c3858","type":"http in","z":"fdd0353.1c127c8","name":"","url":"/details","method":"get","upload":false,"swaggerDoc":"","x":250,"y":480,"wires":[["fb380aef.4a4228"]]},{"id":"fb380aef.4a4228","type":"function","z":"fdd0353.1c127c8","name":"","func":"msg.payload = {\"smoke\" : global.get(\"s\"), \"air\" : global.get(\"a\"), \"gas\" : global.get(\"h\"), \"lat\" : global.get(\"la\"), \"lon\" : global.get(\"lo\") }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["dffa9e5b.a0163"]]},{"id":"dffa9e5b.a0163","type":"http response","z":"fdd0353.1c127c8","name":"","statusCode":"","headers":{},"x":660,"y":480,"wires":[]},{"id":"4d7720b1.5d4af","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5da88cbd.d715f4","type":"ui_group","name":"Pollution Control","tab":"15d5d81e.e93638","order":1,"disp":true,"width":30,"collapse":false},{"id":"15d5d81e.e93638","type":"ui_tab","name":"data","icon":"dashboard","disabled":false,"hidden":false}]